{% extends 'basic_app.html' %}
{% load static %}
{% block stylesheet %}<link rel="stylesheet" href="{% static 'market/market_style.css' %}" /> {% endblock %}


{% block content %}
    <div class="cancel">
        <div class="block">
            <div class="block-info">
                <div class=info>
                    <h1>Заказ отменен(</h1>
                    <img src="{% static 'img/cancel.png' %}" alt="">
                    <p>Тех поддержка: spirik.ilya@mail.ru</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}